/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, Arial, sans-serif;
}

/* Layout geral */
body {
  background-color: #f4f6f8;
  padding: 20px;
  color: #2c2c2c;
}

.container {
  max-width: 2000px;
  margin: auto;
}

/* Títulos */
h1 {
  margin-bottom: 5px;
  font-size: 26px;
}

p {
  margin-bottom: 25px;
  color: #555;
}

/* Área das tabelas */
.tables-area {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

/* Card da tabela */
.table-card {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.table-card h2 {
  margin-bottom: 12px;
  font-size: 18px;
  color: #1a1a1a;
}

.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

.scroll-top {
  overflow-x: auto;
  height: 16px; /* altura da barra de scroll */
  margin-bottom: 5px;
}

.scroll-top div {
  height: 1px; /* invisível, só para o scroll funcionar */
}


/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

th {
  padding: 10px 12px;
  border: 1px solid #b4c6e7;
  font-weight: bold;
  text-align: left;
  color: #1f2d3d;
  white-space: nowrap;
  background-color: #d9e2f3;
}


/* Linhas */
td {
  padding: 8px;
  border: 1px solid #d0d0d0;
  white-space: nowrap;
}

/* Zebra striping */
tbody tr:nth-child(even) {
  background-color: #f7f9fc;
}

/* Hover */
tbody tr:hover {
  background-color: #e3ecff;
}

/* Botões */
.actions {
  margin-top: 30px;
  text-align: center;
}

.pesquisar-campo {
  gap: 20px;
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
}

button {
  background-color: #0070f3;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #0059c1;
}


.diff-error {
  background-color: #f8d7da;
  font-weight: bold;
}

.diff-converted {
  background-color: #fff3cd;
  font-weight: bold;
}